
body {
    background-color:bisque; text-align:center; color:black
}

#addPretax {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.pretax-element {
    float:left;
    width:30%;
}

.posttax-element{
    float:right;
    width:30%;
}