
body {
    background-color:bisque;
    text-align:center;
    color:black;
    font-size: 30px;
}

#addPretax {
    background-color:white;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.pretax-element {
    float:left;
    width:30%;
}

.posttax-element{
    float:right;
    width:30%;
}

.other-pages {
    display:flex;
    margin-right:20px;
    text-align: left;
}

.other-pages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.other-pages li {
    font-size: 50px;
    margin-right: 10px;
}