
:root{
    --DEBIT_POSTTAX_COLOR: rgb(245, 231, 212); 
    --PRETAX_COLOR: rgb(245, 231, 212);
}

body {
    background-color:#3b4049;
    text-align:center;

    color:rgb(213, 224, 213);
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}
.wrapper {
    flex: 1 1 auto;
    border-radius: 20px;
    background-color: #282b30;
    color:#e6e6e6
}
.sidebar-container {
    display:flex;
    flex: 0 0 auto;
    align-items:center;
    height: 95vh;
    width: 20%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
}
  
.sidebar li {
    font-size: 30px;
    margin-bottom: 20%;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
}

.sidebar li.current-page {
    background-color: #E18B5C;
}

.sidebar li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

input[type='radio'] {
    display:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline:none;
    border: none;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="radio"]:after{
    font-size: 20px;
    font-family:monospace;
    border-radius:30px;
    border-color: rgb(231, 231, 231);
    border-width: 0.2ch;
    border-style: dashed;
    background-color: rgba(255, 255, 255, 0.945);
    color: #695b5b;;
    width: 15ch;
    padding: 8px 10px;
    box-sizing: border-box;
    margin-bottom: 6%;
}

input[type='radio']:after,
input[type='radio']:checked:after {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    content: '';
    background-color:rgba(212, 212, 212, 0);
    display: flex;
    visibility: visible;
}

input[type='radio']:checked:after {
    border-color: #e4e6e3f3;
    background-color: #acd898d0;
}

.key-metrics,
.account-container,
.balance_input_table,
.entry_history {
    border-radius:15px;
    padding: 20px;
    border-color: #bebebe;
    border-width:0.1ch;
    border-style:groove;
    margin-left:2%;
    margin-right:2%;
}
/* input page */ 

button {
    background-color:#41924B;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top:5%;
}

button:hover {
    opacity: 0.8;
}

.entry_history {
    height: 40%;
    overflow-y: auto;
}

#posttax_balance_input_table,
#pretax_balance_input_table {
    justify-content: left;
    display: flex;
}

.balance_input_table {
    margin-top: 5%;
}

.table-wrapper {
    display:flex;
    justify-content: right;
}

.entry_history {
    margin-top: 5%;
}

/* accounts */
.account-actions {
    left: 0;
    margin-top:60%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #f0f0f000; /* optional background color */
    padding: 10px; /* optional padding */
}

#pretax-accounts td,
#posttax-accounts td {
    font-size:30px;
}

.pretax-element {
    margin-top: 10%;
    float:left;
    color:var(--DEBIT_POSTTAX_COLOR);
    width:40%;
    margin-left: 5%;
}

.posttax-element{
    margin-top: 10%;
    margin-left: 5%;
    color: var(--PRETAX_COLOR);
    float:left;
    width:40%;
    clear:both;
}

.add-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tax-selection, .type-selection {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 10px;
    flex-basis: 90%;
    white-space: nowrap;
    margin-top: 2%;
    margin-bottom: 5%;
}

.tax-selection input[type="radio"],
.type-selection input[type="radio"] {
    display: inline;
    margin: 0px 10px;
}

/* overview page */ 
.container {
    position:relative;
    left: 10px;
    top: 30px;
    width: 35%;
    height: 30%;
}

.key-metrics {
    display:inline-block;
    text-align: left;
    margin-top: 15%;
    margin-left: 10%;
    height: 80%;
    width: 80%;
}

.key-metrics h5 {
    margin-top: 30px;
}

.account-container {
    position:relative;
    left: 10px;
    top: 10%;
    display: inline-block;
    height: 30%;
}


.account-balances {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius:25px;
    padding: 10px;
    text-align: left;
}

h4, h5, th {
    padding-left: 20px;
    white-space: nowrap;
}

h4 {
    line-height: 10px;
    text-align: left;
}

th {
    font-weight:bolder;
}

td { 
    font-weight: 600;
    font-size:20px;
    padding-left:20px;
}

.chart-container {
    position:absolute;
    top: 10%;
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius:25px;
    padding: 10px;
    margin-left:35%;
}