<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Wen's Budgeting Tool</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="other-pages">
                <ul>
                    <li><a href="{{ url_for('index') }}">Overview</a></li>
                    <li><a href="{{ url_for('input') }}">Input</a></li>
                    <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
                </ul>
            </div>
            <div class="pretax-element">
                <h2 id="pretax">Pre-tax Accounts</h2>
                <table id="pretax-accounts"> 
                    <tr>
                        <th>Accounts:</th>
                    </tr>
                </table>
                <div class="userInput"> 
                    <form method="POST" action="{{ url_for('submit')}}" id="accountForm">
                        <label for="accountName">Add new account:</label>
                        <input type="text" id="accountName" name="accountName">
                        <button id="addPretax" onsubmit="displayAccount(event)"> Submit </button>
                    </form>
                </div>
            </div>
            <div class="posttax-element">
                <h2 id="pretax">Post-tax Accounts</h2>

            </div>
        </div>
        <script>
            
            function displayAccount(event) {
                event.preventDefault();
                var frm = $('#accountForm')
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        console.log('Submission was successful.');
                        console.log(data);
                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        console.log(data);
                    },
                });
                // save to storage
                let accountName = document.querySelector("#accountName").value;

                // add to accounts page
                let pretax_accounts = document.querySelector("#pretax-accounts");
                let newRow = pretax_accounts.insertRow();
                let newCell = newRow.insertCell();
                newCell.textContent = accountName;

                // send AJAX request to Flask server
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/submit");
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.onload = function() {
                    if (xhr.status === 201) {
                        // add new account to accounts page
                        let account = JSON.parse(xhr.responseText).account;
                        let pretaxAccounts = document.querySelector("#pretax-accounts");
                        let newRow = pretaxAccounts.insertRow();
                        let newCell = newRow.insertCell();
                        newCell.textContent = account.name;

                        accountName.value = "";
                    }
                };
                xhr.send(JSON.stringify({accountName: accountName.value}));

                accountName = "";
                return false;
            }

        </script>
    </body>
</html>