<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Wen's Budgeting Tool</title>
        <div class="other-pages">
            <ul>
                <li><a href="{{ url_for('index') }}">Overview</a></li>
                <li><a href="{{ url_for('input') }}">Input</a></li>
                <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
            </ul>
        </div>
    </head>
    <body>
        <div class="wrapper">

            <div class="pretax-element">
                <h2 id="pretax">Pre-tax Accounts</h2>
                <table id="pretax-accounts"> 
                    <tr>
                        <th>Accounts:</th>
                    </tr>
                    {% for account in pretax_accounts %}
                    <tr>
                        <td>{{ account[0] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="userInput"> 
                    <form method="POST" action="{{ url_for('submit')}}" id="accountForm" onsubmit="return displayAccount(event)">
                        <label for="accountName">Add new account:</label>
                        <input type="text" id="accountName" name="accountName">
                        <button id="addPretax"> Submit </button>
                    </form>
                </div>
            </div>
            <div class="posttax-element">
                <h2 id="posttax">Post-tax Accounts</h2>
            </div>
            <form method="POST" action="{{ url_for('clear')}}" onsubmit="return clearDatabase()">
                <button type="submit">Clear</button>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>