<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('serve_css', path='style.css') }}">
        <title>Wen's Budgeting Tool</title>
        
    </head>
    <body>
        <div class="sidebar-container">
            <div class="sidebar">
                <ul>
                    <li><a href="{{ url_for('index') }}">Overview</a></li>
                    <li><a href="{{ url_for('input') }}">Input</a></li>
                    <li class="current-page"><a href="{{ url_for('accounts') }}">Accounts</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="pretax-element">
                <table id="pretax-accounts"> 
                    <tr>
                        <td>
                            {% for account in pretax_accounts %}
                                {{ account[0] }}{% if not loop.last %}   {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="posttax-element">
                <table id="posttax-accounts"> 
                    <tr>
                        <td>
                            {% for account in posttax_accounts %}
                                {{ account[0] }}{% if not loop.last %}   {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="account-actions">
                <div class="delete-account-container"> 
                    <form method="DELETE" action="/delete_account" id="deleteAccountForm" onsubmit="return deleteAccount()">
                        <label for="deleteAccountName"></label>
                        <input type="text" id="deleteAccountName" name="deleteAccountName">
                        
                        <div class="tax-selection" id="tax_status_delete">
                            <label for="pretax-radio">Pre-tax</label>
                                <input type="radio" name="tax_status" id="pretax-radio-delete" value="pre-tax">
                            <label for="posttax-radio">Post-tax</label>
                                <input type="radio" name="tax_status" id="posttax-radio-delete" value="post-tax">
                        </div>
                        <button type="submit"> Delete Account</button>     
                    </form>
                </div>
                <div class="clear-account-container"> 
                    <form method="POST" action="{{ url_for('clear')}}" onsubmit="return clearDatabase()">
                        <button type="submit">Clear</button>
                    </form>
                </div>
                <div class="add-account-container"> 
                    <form method="POST" action="add_account" id="addAccountForm" onsubmit="return addAccount()">
                        <label for="addAccountName"></label>
                        <input type="text" id="addAccountName" name="addAccountName">
                        
                        <div class="tax-selection", id="tax_status_add">
                            <label for="pretax-radio">Pre-tax</label>
                                <input type="radio" name="tax_status" id="pretax-radio-add" value="pre-tax">
                            <label for="posttax-radio">Post-tax</label>
                                <input type="radio" name="tax_status" id="posttax-radio-add" value="post-tax">
                        </div>
                        <button id="addPostTax"> Add Account</button>     
                    </form>
                    
                    <!-- <div class="type-selection">
                        <label for="debit-radio">Debit</label>
                        <input type="radio" name="type" id="debit-radio" value="debit">
                        <label for="credit-radio">Credit</label>
                        <input type="radio" name="type" id="credit-radio" value="credit">
                    </div> -->
                    
                </div>
                
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        
    </body>
</html>