<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('serve_css', path='style.css') }}">
        <title>Wen's Budgeting Tool</title>
    </head>
    <body>
        <div class="sidebar-container">
            <div class="sidebar">
                <ul>
                    <li><a href="{{ url_for('index') }}">Overview</a></li>
                    <li class="current-page"><a href="{{ url_for('input') }}">Input</a></li>
                    <li><a href="{{ url_for('accounts') }}">Accounts</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="balance_input_table">
                <form method="POST">
                    <table id="posttax_balance_input_table"> 
                        <tr>
                            {% for account in posttax_accounts %}
                            <td class="input-table-cell">{{ account[0] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for account in posttax_accounts %}
                            <td class="input-table-cell">
                                <input type="text" name="{{ account[0] }}" value="{{ account[3]|default('0') }}" id="{{ account[0] }}">
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>Income</td>
                            <td><input type="number" name="income" value=0 id="income"></td>
                            <td>New Investments</td>
                            <td><input type="number" name="new_investment" value=0 id="new_investment"></td>
                        </tr>
                    </table>
                    <div class="table-wrapper">
                        <table>
                            <tr>
                                <td><input type="date" name="entry_date" value="{{ current_date }}"></td>
                                <td><button type="submit" name="posttax_submit">Submit</button></td>
                            </tr>
                        </table>
                    </div>
                </form>
                <form method="POST">
                    <table id="pretax_balance_input_table">
                        <tr>
                            {% for account in pretax_accounts %}
                            <td class="input-table-cell">{{ account[0] }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for account in pretax_accounts %}
                            <td class="input-table-cell">
                                <input type="text" name="{{ account[0] }}" value="{{ account[3]|default('0') }}" id="{{ account[0] }}">
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                    <div class="table-wrapper">
                        <table>
                            <tr>
                                <td><input type="date" name="entry_date" value="{{ current_date }}"></td>
                                <td><button type="submit" name="pretax_submit">Submit</button></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="entry_history">
                <table>
                    <tr>
                        <th>PostTax Entry History:</th>
                    </tr>
                    <tr>
                        {% for column in post_cursor.description %}
                            <th>{{ column[0] }}</th>
                        {% endfor %}
                    </tr>
                    <tbody>
                        {% for entry in posttax_entries %}
                        <tr>
                            {% for balance in entry %}
                            <td> {{balance}} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table>
                    <tr>
                        <th>Pretax Entry History:</th>
                    </tr>
                    <tr>
                        {% for column in pre_cursor.description %}
                            <th>{{ column[0] }}</th>
                        {% endfor %}
                    </tr>
                    <tbody>
                        {% for entry in pretax_entries %}
                        <tr>
                            {% for balance in entry %}
                            <td> {{balance}} </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>